@media (min-width: 992px) {
    .custom-navbar {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50px ; 
        backdrop-filter: blur(15px);
        z-index: 1000; 
        width: auto; 
        margin: 20px auto; 
        background: rgba(255, 255, 255, 0.3); 
        box-shadow: 0 0 10px 1px rgba(9, 38, 53, 0.15);
    
        .navbar-nav{
            display: flex;
            justify-content: space-around;

            .nav-item {
                font-size: 1.5em;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                margin: 0 0.5em;

                .nav-link, .active {
                    color: rgb(9, 38, 53) !important;
                }
            }
        }
        
    }
}



