@font-face {
    font-family: 'Poppins';
    font-weight: 100; 
    font-style: normal;
    src: url('../font/Poppins/Poppins-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 200; 
    font-style: normal;
    src: url('../font/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 300; 
    font-style: normal;
    src: url('../font/Poppins/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 400; 
    font-style: normal;
    src: url('../font/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 500; 
    font-style: normal;
    src: url('../font/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 600; 
    font-style: normal;
    src: url('../font/Poppins/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 700; 
    font-style: normal;
    src: url('../font/Poppins/Poppins-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 800; 
    font-style: normal;
    src: url('../font/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 900; 
    font-style: normal;
    src: url('../font/Poppins/Poppins-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'SonderRegular';
    src: url('../font/sonder-regular-free-font/SonderRegular/SonderRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}