.header {
    font-family: 'andora', serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 9rem 0 5rem;
    flex-direction: column;

    h1 {
        color: white;
        padding: 2%;
        font-size: 8em;
        
    }

    .h3-index {
        margin-top: 1%;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: 200;
        font-size: 1.5em;

        @media screen and (min-width: 768px) {
            font-size: 1.8em;
        }
    }
}

.header-about {
    display: flex;
    flex-direction: column;

    .row {
        height: 50vh;

        .col-lg-5{
            .about-img {
                height: 100%;
                .img-about {
                    border-radius: 35% 35% 0 0;
                    width: 80%;
                    height: 100%;
                   
                }
            }
            
        }
    
        .col-lg-7 {
            height: 100%;
            margin: 0;

            .about-info {
                text-align: left;
                color: white;
    
                h2 {
                    font-size: 3em;
                }
                p {
                    font-family: 'poppins';
                    font-weight: 3200;
                }
            }
        }
    }  
}