.main {
    
    

    .line-x {
        width: 80%;
        background-color: white;
        height: 2px;
        margin: 100px auto;
    }

    h2 {
        text-align: center;
        margin: 1.8em 0 1em;
        font-size: 3em;
        font-family: 'sonderregular', sans-serif;
        color: white;
    }

}